@charset "utf-8";
body{
    background-image:url(fundo1.jpg);

}
table,thead,tbody{
    
    border: 2px solid black;
    border-collapse: collapse;
    
    font-family: Verdana;
    font-size: large;
    background-image: url(fundotabela.jpg);
}
tfoot{
    text-align: center;
    color: red;
}
th {
    border: 2px solid black ;
    border-collapse: collapse;
    padding: 10px;
    font-size: 30px;
}
td,tr  {
    padding: 10px;
    border-collapse: collapse;
    border: 2px solid black;   
}
#topo {
	background-image:url(banner.webp);
	height:220px;

}
#conteudo {
	background-image:url(fundo.jpg);
	width:1330px;
	float:left;
	height:690px;
	margin-top:10px;  
}
h1{
    font-family: Verdana;
}
#voltar{
    font-family: Verdana;
    color:black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#voltar a:hover{
    background-color:yellow;
    color:black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.tabela{
    font-family: Verdana;
    color:black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.tabela a:hover{
    font-family: Verdana;
    color:black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;  

}
a{
    text-decoration: none;
}


